_site
.sass-cache
.jekyll-metadata
node_modules/
yarn.lock

# ongoing
_post/2018-09-19-RKHS-from-PDKernel.markdown
_post/2018-09-19-Riesz-Representation-Theorem.markdown
_post/2018-09-24-realnumber-and-continuity.markdown